.App {
  text-align: center;
  background-color: #185f9b;
}

.App-header {
  height: 300px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  background: linear-gradient(#185f9b, #91c5f2);
}
